In [1]:
import pandas as pd 
import psycopg2
from sqlalchemy import create_engine

In [2]:
df= pd.read_csv('/home/hp/Downloads/20181024_d1_0830_0900(2).csv')
df.head(1)

  track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0  1; Car; 48.85; 9.770344; 37.977391; 23.737688;...

In [3]:


# Connect to PostgreSQL

conn = psycopg2.connect(dbname='trafficflow', user='postgres', password='1234', host='localhost')
cursor = conn.cursor()

# Create table based on DataFrame structure
create_table_query = '''
    CREATE TABLE flow (
        track_id INT,
        type VARCHAR(50),
        traveled_d FLOAT,
        avg_speed FLOAT,
        lat FLOAT,
        lon FLOAT,
        speed FLOAT,
        lon_acc FLOAT,
        lat_acc FLOAT,
        time FLOAT
    )
'''
cursor.execute(create_table_query)
conn.commit()


# Close the connection
cursor.close()
conn.close()

DuplicateTable: relation "flow" already exists

In [4]:
import psycopg2
# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(dbname='trafficflow', user='postgres', password='1234', host='localhost')
cur = conn.cursor()

# Load CSV data into a DataFrame (using pandas)
df = pd.read_csv('/home/hp/Downloads/20181024_d1_0830_0900(2).csv')
df.columns

Index(['track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time'], dtype='object')

In [5]:
# Split the single column into multiple columns using the semicolon as the delimiter
split_data = df['track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time'].str.split(';', expand=True)

# Check the structure of the split data
print(split_data.head())  # Output the first few rows to verify the split

  0            1        2           3           4           5         6       \
0      1          Car    48.85    9.770344   37.977391   23.737688    4.9178
1      2   Motorcycle    98.09   19.839417   37.977642   23.737400   16.9759
2      3   Motorcycle    63.80   18.228752   37.977997   23.737264   20.1906
3      4   Motorcycle   145.72   26.229014   37.978135   23.737072    2.7555
4      5   Motorcycle   138.01   24.841425   37.978134   23.737103    0.0000

     7         8          9       ... 122821 122822 122823 122824 122825  \
0    0.0518   -0.0299   0.000000  ...   None   None   None   None   None
1   -0.0361   -0.0228   0.000000  ...   None   None   None   None   None
2   -0.0795   -0.3395   0.000000  ...   None   None   None   None   None
3   -0.0302    0.0948   0.000000  ...   None   None   None   None   None
4    0.0000    0.0000   0.000000  ...   None   None   None   None   None

  122826 122827 122828 122829 122830
0   None   None   None   None   None
1   None   None   None   None   None
2   None   None   None   None   None
3   None   None   None   None   None
4   None   None   None   None   None

[5 rows x 122831 columns]

In [8]:
# Select only the first 10 columns
selected_columns = split_data.iloc[:, :10]

# Connect to PostgreSQL
conn = psycopg2.connect(dbname='trafficflow', user='postgres', password='1234', host='localhost')
cur = conn.cursor()

# Insert data into PostgreSQL table from the selected columns
for index, row in selected_columns.iterrows():
    cur.execute("""
        INSERT INTO traffic (track_id,type, traveled_d, avg_speed, lat, lon, speed, lon_acc, lat_acc)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""",
        (row[0], row[1], row[2], row[3], row[4], row[5],
         row[6], row[7], row[8]))

conn.commit()

# Close the cursor and connection
cur.close()
conn.close()

IndexError: tuple index out of range

In [ ]:




# Split the single column into multiple columns using the semicolon as the delimiter
df = df['track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time'].str.split(';', expand=True)

# Connect to PostgreSQL
conn = psycopg2.connect(dbname='trafficflow', user='postgres', password='1234', host='localhost')
cur = conn.cursor()

# Insert data into PostgreSQL table from the DataFrame
for index, row in df.iterrows():
    cur.execute("""
        INSERT INTO your_table_name (track_id, type, traveled_d, avg_speed, lat, lon, speed, lon_acc, lat_acc, time) 
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""",
        (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9]))

conn.commit()

# Close the cursor and connection
cur.close()
conn.close()